html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
}
header.masthead {
  background-image: url(/assets/img/david-jorre-oQbLeq4nOek-unsplash.jpg);
  opacity: 0.9;
  background-color: rgb(70, 68, 68);
}
.masthead-heading,
.masthead-subheading,
.masthead-subhead {
  color: rgb(209, 205, 205);
}
.bg-circle {
  opacity: 0.2;
}
.masthead-heading {
  font-size: 25px;
}
.nav li a {
  color: rgb(212, 50, 164);
}

.subfooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subfooter a {
  padding: 10px;
}

/* 
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: rgb(5, 5, 5);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50px;
  color: rgb(175, 22, 111);
  display: none;
  z-index: -100; 
} */

.bottom {
  margin-bottom: 1rem;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}
.arrow {
  margin-top: 5vh;
}
.arrow a {
  background: rgb(209, 205, 205);
  padding: 10px;
  border-radius: 50px;
}
